{{#definitions}}
{{#hasEnums}}
export {
{{#enums}}
  {{name}},
{{/enums}}
  {{name}}
} from "./{{name}}";
{{/hasEnums}}
{{^hasEnums}}
export { {{name}} } from "./models/{{name}}";
{{/hasEnums}}
{{/definitions}}